.circular_square {
    border-radius: 50%;
    height:80%;
    width:80%;
    max-width: 100%;
    max-height: 100%;
}


.picture_holder {
    margin:0 auto;
}

.col_box {
    margin: 5px;
    background-blend-mode: darken;
    padding-left: 0px;
    border-radius: 5px;
    background: rgba(90, 54, 54, 0.5);
    width:23%;
}

.col_box p{
    margin:0px;
}
